# D ignores
.dub
docs.json
__dummy.html
docs/
/nagui
nagui.so
nagui.dylib
nagui.dll
nagui.a
nagui.lib
nagui-test-*
*.exe
*.o
*.obj
*.lst

# Python ignores
env/
src/__pycache__
src/apps/__pycache__

data/
